.card-color{
  border-radius: var(--unit-20-px);
}
/* Background */
.card-color-background-gold {
  background-color: var(--gold);
}
.card-color-background-lightblue {
  background-color: var(--light-blue);
}
.card-color-background-mint {
  background-color: var(--mint);
}
.card-color-background-lavender {
  background-color: var(--lavender);
}
.card-color-background-sky {
  background-color: var(--sky);
}
.card-color-background-teal {
  background-color: var(--teal);
}
.card-color-background-jet{
  background-color: var(--jet);
}
.card-color-background-charcoal {
  background-color: var(--charcoal);
}
.card-color-background-blue {
  background-color: var(--blue);
}
.card-color-background-ocean {
  background-color: var(--ocean);
}
.card-color-background-ut-orange {
  background-color: var(--ut-orange);
}
.card-color-background-info {
  background-color: var(--info);
}
.card-color-background-warning {
  background-color: var(--warning);
}
.card-color-background-yellow {
  background-color: var(--yellow);
}
.card-color-background-sky-gradient {
  background: var(--sky-gradient);
}

/* Labels */
.card-color-label-white {
  color: var(--white);
}
.card-color-label-night {
  color: var(--night);
}
