.ux-portfolio-footer {
  background-color: var(--night);
  color: var(--white);
  height: var(--unit-300-px);
  position: var(--position-absolute);
  left: var(--unit-0);
  width: var(--width-100-vw);
  padding: var(--unit-0-px) var(--unit-360-px);
}
