<div class="ux-portfolio-landing-page">
  <div
    class="ux-portfolio-landing-page__title"
    [innerHTML]="content.label.title"
  ></div>

  <div class="ux-portfolio-landing-page__subtitle-wrapper">
    <div
      class="ux-portfolio-landing-page__subtitle"
      [innerHTML]="content.label.subtitle"
    ></div>
    <div class="ux-portfolio-landing-page__period"></div>
  </div>

  <div
    class="ux-portfolio-landing-page__descriptor"
    [innerHTML]="content.descriptor.title"
  ></div>
  <div class="ux-portfolio-landing-page__descriptor-wrapper">
    <div
      class="ux-portfolio-landing-page__descriptor"
      [innerHTML]="content.descriptor.subtitle"
    ></div>
    <div
      class="ux-portfolio-landing-page__descriptor-label"
      [innerHTML]="content.descriptor.label"
    ></div>
  </div>
</div>
