<div class="ux-portfolio-landing-page">
  <div
    class="ux-portfolio-landing-page__title-wrapper"
    data-aos="fade-up"
    data-aos-duration="500"
  >
    <div
      class="ux-portfolio-landing-page__title"
      [innerHTML]="content.label.title"
    ></div>
  </div>

  <div
    class="ux-portfolio-landing-page__subtitle-wrapper"
    data-aos="fade-up"
    data-aos-duration="500"
  >
    <div class="ux-portfolio-landing-page__subtitle">
      <span class="ux-portfolio-landing-page__subtitle-highlight"
        >Designer</span
      >
      & Developer
    </div>
  </div>

  <div
    class="ux-portfolio-landing-page__descriptor-title"
    data-aos="fade-up"
    data-aos-duration="900"
  >
    As a Software Engineer at <span class="highlight">Delta Air Lines</span>, I
    excel in developing user-centric, visually appealing web applications.
    Bridging the gap between design and development, aiming to deliver
    innovative and effective solutions.
  </div>

  <a
    href="#"
    class="ux-portfolio-landing-page__call-to-action"
    data-aos="fade-up"
    data-aos-duration="1000"
    >Résumé</a
  >
</div>
