.ux-portfolio-landing-page {
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  justify-content: var(--justify-content-end);
  height: var(--unit-375-px);
  margin-bottom: var(--unit-30-px);
  &__subtitle-wrapper {
    display: var(--display-flex);
    flex-direction: var(--flex-direction-row);
    align-items: var(--align-items-end);
    margin-bottom: var(--unit-40-px);
  }

  &__title,
  &__subtitle {
    font-family: var(--poppins-font);
    font-weight: var(--font-weight-500);
    font-size: var(--unit-70-px);
    line-height: var(--unit-93-percent);
  }

  &__period {
    width: var(--unit-10-px);
    height: var(--unit-10-px);
    background-color: var(--orange-text);
    border-radius: var(--border-radius-50-percent);
    margin-bottom: var(--unit-7-px);
  }

  &__descriptor-title {
    font-size: 20px;
  }

  &__descriptor-wrapper {
    display: var(--display-flex);
  }

  &__descriptor {
    font-size: var(--unit-20-px);
  }

  &__descriptor-label {
    margin-left: var(--unit-5-px);
    color: var(--orange-text);
    font-size: var(--unit-20-px);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .ux-portfolio-landing-page {
    padding: var(--padding-20-px) var(--padding-20-px);
    margin-bottom: var(--unit-10-px);
    height: var(--unit-275-px);
    &__subtitle-wrapper {
      display: var(--display-flex);
      flex-direction: var(--flex-direction-row);
      align-items: var(--align-items-end);
      margin-bottom: var(--unit-20-px);
    }
    &__title,
    &__subtitle {
      font-family: var(--poppins-font);
      font-weight: var(--font-weight-500);
      font-size: var(--unit-31-px);
      line-height: var(--unit-93-percent);
    }
    &__period {
      width: var(--unit-5-px);
      height: var(--unit-5-px);
      background-color: var(--orange-text);
      border-radius: var(--border-radius-50-percent);
      margin-bottom: var(--unit-4-px);
    }
    &__descriptor-title {
      font-size: var(--unit-18-px);
      height: var(--unit-275-px);
    }
    &__descriptor-label,
    &__descriptor {
      display: var(--none);
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .ux-portfolio-landing-page {
    padding: var(--padding-20-px) var(--padding-20-px);
    &__subtitle-wrapper {
      display: var(--display-flex);
      flex-direction: var(--flex-direction-row);
      align-items: var(--align-items-end);
    }
    &__descriptor-label {
      font-size: var(--unit-18-px);
    }
    &__descriptor {
      font-size: var(--unit-18-px);
    }
    &__descriptor-wrapper {
      font-size: var(--unit-18-px);
    }
  }
}
