<div class="project-card">
  <div
    *ngFor="let card of content"
    class="project-card__box"
    cardColor
    [cardColorBackground]="card.color"
    [cardColorLabel]="card.label"
    data-aos="fade-up"
    data-aos-duration="900"
  >
    <img *ngIf="card.image" [src]="card.image.src" alt="card.image.alt" />
    <div class="project-card__overlay"></div>
    <span
      class="project-card__subtitle"
      [innerHTML]="card.header.subtitle"
    ></span>
    <span class="project-card__title" [innerHTML]="card.header.title"></span>
  </div>
</div>
