<nav class="ux-portfolio-menu">
  <div class="ux-portfolio-menu__nav">
    <div class="ux-portfolio-menu__brand">
      <p [innerHTML]="content.brand"></p>
    </div>
    <div class="ux-portfolio-menu__links">
      <ul>
        <li>
          <a href="#" [innerHTML]="content.links.home"></a>
        </li>
        <li>
          <a href="#" [innerHTML]="content.links.about"></a>
        </li>
        <li>
          <a href="#" [innerHTML]="content.links.blog"></a>
        </li>
        <li>
          <a href="#" [innerHTML]="content.links.contact"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
