<nav class="ux-portfolio-menu">
  <div class="ux-portfolio-menu__nav">
    <div class="ux-portfolio-menu__brand">
      <div [innerHTML]="content.label.title"></div>
      <div class="ux-portfolio-menu__separator"></div>
      <div [innerHTML]="content.label.subtitle"></div>
    </div>
    <div class="ux-portfolio-menu__links">
      <ul>
        <li>
          <a
            href="#about"
            (click)="navigateToAbout()"
            [innerHTML]="content.links.about"
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
